/* CSS HEX
--moss-green: #8c966fff;
--almond: #f2d8bfff;
--seashell: #f8eee9ff;
--russet: #865337ff;
--drab-dark-brown: #4e3f18ff;
--pressed button: #2b2005
*/

header[class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom rounded-bottom"] {
    background-color: #8C966F;
}

div[id="title-box"] {
    background-color: #f2d8bf;
}

div[class="col d-flex"] {
    background-color: #f2d8bf;
    width: 100%;
}

div[class="p-5 mb-4 rounded-3"] {
    background-color: #f2d8bf;
    width: 100%;
}

div[itemtype="nav-item"] {
    background-color: #865337;
}

li[class="nav-item"] {
    padding: 2px;
}

h2[class="pb-2 border-bottom"] {
    --bs-border-width: 2px;
    --bs-border-color: #865337;
}

tbody, td, tfoot, th, thead, tr {
    border-style: hidden;
}

tr[id="birds-list-table-heading"] {
    background-color: #865337;
    color: white;
}

a[class="btn btn-primary"] {
    background-color: #4e3f18;
    --bs-btn-border-color: #4e3f18;
    --bs-btn-active-bg: #2b2005;
    --bs-btn-active-border-color: #2b2005;
    --bs-btn-hover-bg: #2b2005;
    --bs-btn-hover-border-color: #2b2005;
}

button[type="submit"] {
    background-color: #4e3f18;
    --bs-btn-border-color: #4e3f18;
    --bs-btn-active-bg: #2b2005;
    --bs-btn-active-border-color: #2b2005;
    --bs-btn-hover-bg: #2b2005;
    --bs-btn-hover-border-color: #2b2005;
}

footer {
    background-color: #8c966fff;
}

div[id="project-contents"] {
    background-color: #f8eee9ff;
}

body {
    background-color: #f8eee9ff;
}

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: #f8eee9;
    --bs-body-bg:  #f8eee9;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: #8c966f;
}