{% extends "base_page.html" %}

{% load static %}
{% block page-title %}
Список птычек
{% endblock %}

{% block page-lead %}
Все птычки извлекаются из БД/файла и динамически вставляются в таблицу. <br/><br/>
<img src="{% static 'feather-svg-1.svg' %}" alt="список птычек" width="50" height="50"/>
{% endblock %}

{% block content %}
<div class="container px-4 py-5" id="birds-table">
    <div class="table-responsive">
        <table class="table">
          <thead class="thead-dark">
            <tr id="birds-list-table-heading">
              <th scope="col" class="py-3">#</th>
              <th scope="col" class="py-3">Птычка</th>
              <th scope="col" class="py-3">На латыни</th>
              <th scope="col" class="py-3">Количество наблюдений</th>
            </tr>
          </thead>
          <tbody>
            {% for cnt, bird, latin, number in birds %}
              <tr class="border-right-0 border-left-0">
                  <td class="py-3">{{ cnt }}</td>
                  <td class="py-3">{{ bird }}</td>
                  <td class="py-3">{{ latin }}</td>
                  <td class="py-3">{{ number }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
</div>
{% endblock %}
