{% extends "base_page.html" %}

{% load static %}
{% block page-title %}
Квиз
{% endblock %}

{% block page-lead %}
Вопросы случайным образом генерируются из файла и динамически вставляются в таблицу. <br/><br/>
<img src="{% static 'feather-svg-4.svg' %}" alt="квиз" width="50" height="50"/>
{% endblock %}

{% block content %}
<div class="container px-4 py-5" id="birds-table">
    <div class="table-responsive">
        <table class="table">
          <thead class="thead-dark">
            <tr id="birds-list-table-heading">
              <th scope="col" class="py-3">#</th>
              <th scope="col" class="py-3">Вопрос</th>
              <th scope="col" class="py-3">Ответ</th>
            </tr>
          </thead>
          <tbody>
            {% for cnt, bird, latin in birds %}
            <tr class="border-right-0 border-left-0">
                <td class="py-3">{{ cnt }}</td>
                <td class="py-3">{{ bird }}</td>
                <td class="py-3">
                    {% if quiz_start %}
                    <form method="post">
                        <label for="answer-{{ cnt }}">Ваш ответ:</label>
                        <input type="text" class="form-control input-lg" name="answer-{{ cnt }}" id="answer-{{ cnt }}">
                    {% endif %}
                    {% if not quiz_start %}
                        {% load index %}
                        {% if not marks|index:forloop.counter0 %}
                            <s>{{ answers|index:forloop.counter0 }}</s>
                            <p><span class="fst-italic">Правильный ответ: {{ latin }}</span></p>
                        {% else %}
                            {{ latin }}
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% if quiz_start %}
        <button type="submit" class="btn btn-primary" formaction="/check-quiz">Проверить</button>
        </form>
        {% endif %}
        {% if not quiz_start %}
        <p></p>
        <h2 class="pb-2">Ваш результат: {{ mark }} из {{ q_number }}. {{ mark_str }}</h2>
        <p></p>
        <h2 class="pb-2 border-bottom">Что теперь делать?</h2>
        <div class="col-md-4">
            <p><img src="{% static 'feather-svg-4.svg' %}" alt="справочник" width="20" height="20"/>
                попробовать <a href="/quiz">ещё раз</a>,</p>
            <p><img src="{% static 'feather-svg-5.svg' %}" alt="справочник" width="20" height="20"/>
                заглянуть в <a href="/get-info">справочник</a>,</p>
            <p><img src="{% static 'bird-prints.svg' %}" alt="справочник" width="20" height="20"/>
                вернуться на <a href="/">главную</a></p>
        </div>
        {% endif %}
        {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}