{% extends "base_page.html" %}

{% load static %}
{% block page-title %}
{% if success %}
Птычка найдена
{% else %}
Ошибка в запросе
{% endif %}
{% endblock %}

{% block page-lead %}
<img src="{% static 'feather-svg-5.svg' %}" alt="справочник" width="50" height="50"/>
{% endblock %}

{% block content %}
<div class="container-sm px-5 py-5" id="bird-show-info">
    <h2 class="pb-2 border-bottom">Результат запроса</h2>
    <p>Уважаемый пользователь!<br/>
    {{ comment }}</p>

    {% if success %}
    <div class="col-md-4">
        <p>Вид птычки: <b>{{ bird_species }}</b></p>
    </div>

    <div class="col-md-4">
        <p>Род птычки: <b>{{ bird_genus }}</b></p>
    </div>

    <div class="col-md-4">
        <p>Другие названия птычки: <b>{{ bird_aka }}</b></p>
    </div>

    <div class="col-md-4">
        <p>Название на латыни: <b>{{ bird_latin }}</b></p>
    </div>

    <div class="col-md-4">
        <p>Где обитает: <b>{{ bird_habitat }}</b></p>
    </div>

    <div class="col-md-4">
        <p>Встречалась ли уже здешними бердвотчерами: <b>{% if bird_is_seen %}птычка уже встречалась{% else %}птычка еще не встречалась{% endif %}</b></p>
    </div>
    {% endif %}

    <h2 class="pb-2 border-bottom">Что можно сделать?</h2>

    <div class="col-md-4">
        <p><img src="{% static 'feather-svg-5.svg' %}" alt="справочник" width="20" height="20"/>
            спросить <a href="/get-info">ещё раз</a>,</p>
        <p><img src="{% static 'bird-prints.svg' %}" alt="справочник" width="20" height="20"/>
            вернуться на <a href="/">главную</a></p>
    </div>
</div>
{% endblock %}
