{% extends "base_page.html" %}

{% block page-title %}
Статистика по птычкам и наблюдениям
{% endblock %}

{% block page-lead %}
Перед тем, как отрендерить эту страницу, веб-приложение ходит в файл/БД, обновляет статистики, а затем подставляет их в шаблон страницы.
Всё это можно посмотреть в файле <code>views.py</code>.
{% endblock %}

{% block content %}
<div class="container px-4 py-5" id="stats">
    <div>
        <h3 class="py-2">Количество всего разного</h3>
    </div>
    <div class="row text-center">
        <div class="col-md-4">
            <h4>{{ birds_all }}</h4>
            <p class="text-muted">видов увиденных птычек</p>
        </div>
        <div class="col-md-4">
            <h4>{{ observers_all }}</h4>
            <p class="text-muted">бердвотчеров</p>
        </div>
        <div class="col-md-4">
            <h4>{{ observations_all }}</h4>
            <p class="text-muted">всех наблюдений, добавленных через <a href="/add-bird">форму добавления птычки</a></p>
        </div>
    </div>
    <div>
        <h3 class="py-2">Сегодняшняя статистика</h3>
    </div>
    <div class="row text-center">
        <div class="col-md-4">
            <h4>{{ observations_today }}</h4>
            <p class="text-muted">наблюдений сегодня</p>
        </div>
    </div>
    <div>
        <h3 class="py-2">Наиболее и наименее часто встречаемые птычки</h3>
    </div>
    <div class="row text-center">
        <div class="col-sm-4">
            {% for bird in birds_max %}
            <h4>{{ bird }}</h4>
            {% endfor %}
            <p class="text-muted">чаще всего</p>
        </div>
        <div class="col-sm-4">
            {% for bird in birds_min %}
            <h4>{{ bird }}</h4>
            {% endfor %}
            <p class="text-muted">реже всего</p>
        </div>
    </div>

    <div>
        <h3 class="py-2">количество наблюдений каждый день</h3>
    </div>
    <div class="row text-center">
        <div class="col-sm-4">
            {% for day, number in birds_daily %}
            <h4>{{ day }} : {{ number }}</h4>
            {% endfor %}
            <p class="text-muted">ыыыыыыыыы</p>
        </div>
    </div>
</div>
{% endblock %}

