{% extends "base_page.html" %}

{% load static %}
{% block page-title %}
Статистика по птычкам и наблюдениям
{% endblock %}

{% block page-lead %}
Перед тем, как отрендерить эту страницу, веб-приложение ходит в файл/БД, обновляет статистики, а затем подставляет их в шаблон страницы.
Всё это можно посмотреть в файле <code>views.py</code>. <br/><br/>
<img src="{% static 'feather-svg-3.svg' %}" alt="статистика" width="50" height="50"/>
{% endblock %}

{% block content %}
<div class="container px-4 py-5" id="stats">
    <div class="text-center my-3">
        <h2 class="pb-2 border-bottom">Статистика по наблюдениям</h2>
    </div>
    <div class="row text-center">
        <div class="col-md-4">
            <p class="text-muted">бердвотчеров</p>
            <h4>{{ observers_all }}</h4>
        </div>
        <div class="col-md-4">
            <p class="text-muted">всех наблюдений, добавленных через <a href="/add-bird">форму добавления птычки</a></p>
            <h4>{{ observations_all }}</h4>
        </div>
        <div class="col-md-4">
            <p class="text-muted">наблюдений сегодня</p>
            <h4>{{ observations_today }}</h4>
        </div>


    </div>
    <div class="text-center my-3">
        <h2 class="pb-2 border-bottom">Статистика по птычкам</h2>
    </div>
    <div class="row text-center">
        <div class="col-md-4">
            <p class="text-muted">видов увиденных птычек</p>
            <h4>{{ birds_all }}</h4>
        </div>
        <div class="col-sm-4">
            <p class="text-muted">реже всего</p>
            {% for bird in birds_min %}
            <h4>{{ bird }}</h4>
            {% endfor %}
        </div>
        <div class="col-sm-4">
            <p class="text-muted">чаще всего</p>
            {% for bird in birds_max %}
            <h4>{{ bird }}</h4>
            {% endfor %}
        </div>
    </div>

    <div class="row text-center my-3">
        <h2 class="pb-2 border-bottom">Количество наблюдений каждый день</h2>
    </div>
    <div class="row text-center">
        <div>
            <p class="text-muted">Тут должен быть график. ыыыыыыыы</p>
            {% for day, number in birds_daily %}
            <h4>{{ day }} : {{ number }}</h4>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

